@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 150px 20px;
    background-color: #424242;
}

.container .countdownBx {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 100);
}

.container .countdownBx h2 {
    text-align: center;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    line-height: 3em;
}

.blink_me {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-weight:bold;
}
@keyframes blinker { 
 
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.container .countdownBx h2 span {
    font-size: 4em;
    font-weight: 800;
}

.container .countdownBx h2 span i {
    font-style: initial;
    color:rgb(251, 255, 0);
}

.countdown {
    margin-top: 20px;
    background: rgba(255, 0, 0, 0.212);
    width: 45%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown div {
    position: relative;
    width: 100px;
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    font-weight:500;
    margin: 0 15px;
    margin-top: -25px;
}

.countdown div:before {
    content: 'text';
    position: relative;
    text-align: center;
    bottom:-30px;
    left: 45px;
    color: #fff;
    font-size: 0.35em;
    font-weight: 500;
    line-height:35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.countdown div#day:before {
    content: 'Hari';
}

.countdown div#hour:before {
    content: 'Jam';
}

.countdown div#minute:before {
    content: 'Menit';
}

.countdown div#second:before {
    content: 'Detik';
}

.countdown div#second,
.countdown div#second:before {
    color:rgb(231, 231, 24);
}

@media (max-width:991px) {
    .container .imgBx {
        display: none;
    }

    .container .countdownBx {
        width: 100%;
    }
}

@media (max-width:600px) {
    .container .countdownBx h2 {
        text-align: center;
        font-size: 1.5em;
    }
}